<% if(user) { %>
<div
  class="logged bg-emerald-200 w-fit space-x-2 items-center flex py-2 px-6 rounded-md my-3"
>
  <ion-icon class="text-2xl" name="person-outline"></ion-icon>
  <p>You Are Logged In</p>
</div>

<% }else { %>
<div
  class="notlogged bg-red-200 w-fit space-x-2 items-center flex py-2 px-6 rounded-md my-3"
>
  <ion-icon class="text-2xl" name="alert-outline"></ion-icon>
  <p>You Are Not Logged In</p>
</div>
<% } %>
