<div class="w-full flex justify-around border border-gray-300 items-center p-3">
  <div>
    <h1 class="font-semibold text-2xl">URL Shortener</h1>
  </div>
  <div>
    <nav class="space-x-4">
      <% if(user){ %>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>      
      <a href="/logout">Logout</a>
      <% }else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>

      <% } %>
    </nav>
  </div>
</div>
